<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiladyApp"
        tools:targetApi="31">
        <activity
            android:name=".checkout.PlaceOrderSuccessfullyActivity"
            android:exported="false" />
        <activity
            android:name=".CartPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".payment.WalletInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.CategoryFragment"
            android:exported="false" />
        <activity
            android:name=".search.ListCateActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.ChangeLocationActivity"
            android:exported="false" />
        <activity
            android:name=".product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".forgotpassword.VerifyCodePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".forgotpassword.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".signup.VerifyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.ViewPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".WishListActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminOrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminProductManagementActivity"
            android:exported="false" />
        <activity
            android:name=".EarnPointActivity"
            android:exported="false" />
        <activity
            android:name=".MyOrdersActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.AdminListOrderActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.AddressSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.AddNewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".payment.AddNewWalletActivity"
            android:exported="false" />
        <activity
            android:name=".payment.AddNewWalletCartActivity"
            android:exported="false" />
        <activity
            android:name=".payment.SuccessfullyChangeActivity"
            android:exported="false" />
        <activity
            android:name=".payment.SuccessfullyChangeCartActivity"
            android:exported="false" />
        <activity
            android:name=".MyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".payment.DeleteCardActivity"
            android:exported="false" />
        <activity
            android:name=".payment.DeleteFailActivity"
            android:exported="false" />
        <activity android:name="AboutUsActivity"
            android:exported="false"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmeFyh12wHBmVagKr0InRDh1eqc_qeTN8" />
    </application>

</manifest>